body {
  height: 120vh;
  margin: 0%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrap {
  display: block;
}

header {
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
  font-size: small;
}
nav {
  display: flex;
  height: 7vh;
  border-style: solid;
  border-color: black;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

nav a:hover {
  transition: ease-in 0.1s;
  text-decoration: underline;
}

a {
  transition: ease-out 0.1s;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

/*byt europa bilden*/
.background-img {
  background-image: url(/img/AdobeStock_573399878_Preview.jpeg),
    url(/img/AdobeStock_573400114_Preview.jpeg),
    url(/img/AdobeStock_42274287_Preview.jpeg);
  background-repeat: no-repeat;
  background-position: center, right, left;
  background-size: 33% 100%, 33% 100%, 33% 100%;
  height: 99%;
  width: 99%;
  filter: grayscale(10%);
}

main #card1,
#card2,
#card3 {
  font-size: x-large;
  border-style: solid;
  width: 30%;
  height: 20%;
  text-align: center;
  background-color: white;
  position: absolute;
}

#card1 {
  margin-left: 1%;
  left: 0;
}

#card3 {
  margin-right: 1%;
  right: 0;
}

#card1:hover,
#card2:hover,
#card3:hover {
  box-shadow: rgba(0, 0, 0, 0.522) 10px 10px;
  transition: ease-in 0.2s;
}

#card1 {
  background-image: url("./img/");
}

#card2 {
  background-image: url("./img/");
}

#card3 {
  background-image: url("./img/");
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  padding: 2%;
  color: rgb(182, 182, 182);
  background-color: black;
}
