a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-image: url("/img/europeana-0GuL_hVwQHA-unsplash-EDITED.jpg");
}

.card p,
.card h1 {
  text-align: center;
}

.card {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.522) 10px 10px;
  transition: ease-in 0.2s;
}

.menu {
  height: 100vh;
  width: 80vw;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: -90vw;
  transition: left 0.3s;
  box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: none;
  justify-content: space-evenly;
}

.menu-button {
  cursor: pointer;
  display: none;
}

.menu-button i.material-icons {
  font-size: 2.5rem;
}

.menu a {
  font-size: x-large;
}

.show {
  left: 0;
}

.fade-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}

.fade-layer.visible {
  display: block;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: block;
  }

  .old-nav {
    display: none;
  }

  .menu-button {
    display: inline;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  main #card1,
  main #card2,
  main #card3 {
    width: calc(100% - 20px);
    max-width: 400px;
    margin: 10px auto;
    position: static;
    left: 0;
    right: 0;
    align-items: left;
  }

  .background-img {
    display: none;
    background-position: center;
    background-size: cover;
  }

  footer {
    margin-top: 20px;
  }
}
