body {
  height: 140vh;
  margin: 0%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrap {
  display: block;
}

header {
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
  font-size: small;
}

nav {
  display: flex;
  height: 7vh;
  border-style: solid;
  border-color: black;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

nav a:hover {
  transition: ease-in 0.1s;
  text-decoration: underline;
}

a {
  transition: ease-out 0.1s;
}

#landingpicture {
  margin-top: 1%;
  height: 100vh;
  align-items: center;
  background-image: url(/img/AdobeStock_573399878_Preview.jpeg);
  background-repeat: no-repeat;
  background-size: 50%, 100%;
  background-position: right;
  background-color: black;
}

#landingpicture p,
#landingpicture h1 {
  color: white;
  margin-right: 55%;
  margin-left: 5%;
}

#landingpicture p {
  padding-bottom: 20%;
  font-size: large;
  font-weight: lighter;
}

#landingpicture h1 {
  padding-top: 17%;
}

#landingpicture a {
  text-align: center;
  border-style: solid;
  border-color: yellow;
  background-color: black;
  padding: 10px;
  color: white;
  margin-left: 21.25%;
  text-decoration: none;
}

#landingpicture a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#descrone,
#descrtwo {
  width: 50%;
  margin: 5%;
}

#descrone {
  padding-right: 50%;
}

#descrtwo {
  padding-left: 50%;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  padding: 2%;
  color: rgb(182, 182, 182);
  background-color: black;
}
